<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Edit book</title>
  <style type="text/css">
    body {
      padding: 50px;
    }

    label {
      display: inline-block;
      width: 100px;
    }

    input:read-only {
      background: lightgray;
    }

    .row {
      margin-top: 10px;
    }
  </style>
</head>
<body>
<form id="edit-form" action="edit.html" th:method="post" th:action="@{/books/update}">
  <h3>Book Info:</h3>

  <div>
    <input type="hidden" th:name="id" th:value="${book.getId()}" readonly="readonly">
  </div>

  <div class="row">
    <label for="title">Book's title:</label>
    <input id="title" th:name="title" type="text" th:value="${book.getTitle()}"/>
  </div>

  <div>
    <label for="authors">Author</label>
    <select id="authors" name="authorId">
      <option th:each="author: ${authors}" th:value="${author.getId()}" th:text="${author.getFullName()}"></option>
    </select>
  </div>

  <div>
    <input name="genresIds" th:each="genre: ${genres}" type="checkbox" th:value="${genre.getId()}" th:text="${genre.getName()}">
  </div>


  <div class="row">
    <button type="submit">Save</button>
  </div>
</form>

</body>
</html>
